// Breakpoints
$break-desktop: 900px;


//Fonts
$font-size-xsmall: 12px;
$font-size-small: 14px;
$font-size-medium: 18px;
$font-size-large: 24px;

$font-text: 'Crimson Text', serif;
$font-main: 'Josefin Sans', sans-serif;
$font-name: 'Playfair Display', serif;

//Colors
// $primary-color-light: ;
// $on-primary-color-light: ;
// $secondary-color-light: ;
// $on-secondary-color-light: ;
// $tertiary-color-light: ;
// $on-tertiary-color-light: ;
// $accent-color-light: ;
// $on-accent-color-light: ;
// $background-color-light: ;
// $on-background-color-light: ;

$primary-color: #e1bee7;
$accent-color: #9c27b0; // violet primaire (inverse du violet accentué)
$background-color: #f5f5f5;
$text-color: #333;
$border-color: #ddd;
$button-bg-color: #9c27b0;
$button-text-color: #fff;
$error-border-color: hsl(0, 100%, 80%);
$outline-color: #CC00CC;

//Spacings
$space-s: 1rem;
$space-m: 1.5rem;

$grid-gap:0.8rem;

$padding-s : 0.5rem 2.5rem;

//Effect

$small-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
